{% extends 'base.html.twig' %}



{% block body %}
    <div class="container my-5">
        <div class="d-flex justify-content-around">
            <div class="col-md-3">
                <img src="{{ asset("uploads/" ~ movie.picture) }} " width="100%" alt="" {{ movie.title }} " class="
                fit-image">
            </div>
            <div class="col-md-9">
                <p>{{ movie.title }}</p></br>
                {{ movie.releaseDate |date ('d-m-Y') }} </br>
                {{ movie.director.firstname }}
                {{ movie.director.lastname }} </br>
                Catégorie:
                {% for category in movie.categories %}
                    {{ category.name }}
                    {% for category in movie.categories %}
                        {{ category.name }}
                    {% endfor %}
                {% endfor %}
                <div class="card col-md-4 my-5">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Acteur : nom prénom</h5>
                        <p class="card-text">
                            .</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
                {% for moviePersonage in movie.moviePersonages %}
                    {{ moviePersonage.person.firstname }}
                    {{ moviePersonage.person.lastname }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
