{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset("build/uploads/" ~ movie.picture) }}" alt="{{ movie.title }}" class="
              fit-image movie-card">
            </div>
            <div class="col-md-9">
                <div class="flex-column d-flex align-items-center">
                <h1>{{ movie.title }}</h1>
                <div>{{ movie.releaseDate |date ('d-m-Y') }}</div>
                <div>Réalisateur: {{ movie.director.firstname }} {{ movie.director.lastname }}</div>
                Catégorie:
                    {% for category in movie.categories %}
                        {{ category.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h3> Acteurs : </h3><br/>
        <div class="row">
            {% for moviePersonage in movie.moviePersonages %}
                <div class="col-md-3">
                    <div class="card text-center">
                        <img class="img-thumbnail img-card"
                             src="{{ asset("build/uploads/" ~ moviePersonage.person.picture) }}"
                             alt="{{ moviePersonage.person.lastname }}">
                        <div class="card-body">
                            <p class="card text-center">
                                <a href="{{ path('person', {'id': moviePersonage.person.id}) }}">
                                    {{ moviePersonage.person.firstname }}
                                    {{ moviePersonage.person.lastname }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

