<div class="d-flex justify-content-center">
    <div class="col-9">
        <div class="text-right mt-1">
            {{ quote.user.username }}
            /
            {{ quote.createdAt |date ('d-m-Y') }}
        </div>

        <div class="card">
            <div class="card-header text-right" style="height: 3em;">
                <p id="categorie">
                    {% for category in quote.moviePersonages[0].movie.categories %}
                        {{ category.name }}
                    {% endfor %}
                </p>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ quote.content }}</p>
                    </br>
                    <div class="text-right">
                        <p>
                            {% set lien, title = "", "" %}
                            {% for moviePersonage in quote.moviePersonages %}
                                <a href="{{ path('personage', {'id': moviePersonage.personage.id}) }}">
                                    {{ moviePersonage.personage.name }}
                                </a>

                                {% set lien = path('movie', {'id': moviePersonage.movie.id}) %}
                                {% set title = moviePersonage.movie.title %}
                            {% endfor %}

                            <a href={{ lien }}>
                                <strong>{{ title }}</strong></a>

                        </p>
                    </div>
                </blockquote>
            </div>
        </div>


    </div>
</div>
</br>