{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <img class="img-thumbnail img-card"
                     src="{{ asset("build/uploads/" ~ person.picture) }}"
                     alt="{{ person.lastname }}">
                <div class="card-body">
                    <p class="card-text">
                        {{ person.firstname }}
                        {{ person.lastname }}
                    <p class="card-text">
                        <small class="text-muted">Voir ses citations</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% for moviePersonage in person.moviePersonages %}
        <h2>{{ moviePersonage.movie.title }} - {{ moviePersonage.personage.name }}</h2>
        {% for quote in moviePersonage.quotes %}
            {{ include('default/_quote.html.twig') }}
        {% endfor %}
    {% endfor %}
    
</div>

{% endblock %}
