<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="build/uploads/logo/logo.png"/>
    <title>
        {% block title %}Underthemovies
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="{{ path('homepage') }}">Underthemovies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-3 ml-sm-3" href="{{ path('quotes') }}">Nouvelles citations</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-3" href="{{ path('indexfilms') }}">Index des films</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-3" href="#">Meilleures citations</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-3" href="#">The Game</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-3" href="#">Proposer une citation</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-2" href="#">Connexion</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>
    </header>
{% endblock %}


<div class="d-flex row ml-3 mt-4">
    <nav class="col-md-1 col-lg-1 px-1 sidebar">
        <a class="nav-link mt-1" href="#">Thriller</a>
        <a class="nav-link mt-2" href="#">Aventure</a>
        <a class="nav-link mt-2" href="#">Policier</a>
        <a class="nav-link mt-2" href="#">SF</a>
        <a class="nav-link mt-2" href="#">Horreur</a>
        <a class="nav-link mt-2" href="#">Action</a>
        <a class="nav-link mt-2" href="#">Comédie</a>
        <a class="nav-link mt-2" href="#">Romantique</a>
        <a class="nav-link mt-2" href="#">Drame</a>
    </nav>
    <div class="col md-11">
        {% block body %}{% endblock %}
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-5">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Précédent</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Suivant</a>
        </li>
    </ul>
</nav>
{% block footer %}
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Haut de page</a>
            </p>
            <p>
                Underthemovies</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
    ('.carousel').carousel({
    interval: 4000
    })
    </script>
{% endblock %}
</body>
</html>