<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Underthemovies
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="{{ path('homepage') }}">Underthemovies</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link mr-sm-3 ml-sm-3" href="{{ path('quotes') }}">Nouvelles citations</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="{{ path('indexfilms') }}">Index des films</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="#">Meilleures citations</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="#">The Game</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="#">Proposer une citation</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-2" href="#">Connexion</a>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">
							<button class="btn btn-outline-primary" type="submit">Rechercher</button>
						</form>
					</div>
				</nav>
			</header>
		{% endblock %}

		<div class="d-flex justify-content-around my-5">
			<nav class="col-md-1 col-lg-1 px-1 sidebar py-5">
				<a class="nav-link" href="#">Thriller</a>
				<a class="nav-link" href="#">Aventure</a>
				<a class="nav-link" href="#">Policier</a>
				<a class="nav-link" href="#">SF</a>
				<a class="nav-link" href="#">Horreur</a>
				<a class="nav-link" href="#">Action</a>
				<a class="nav-link" href="#">Comédie</a>
				<a class="nav-link" href="#">Romantique</a>
				<a class="nav-link" href="#">Drame</a>
			</nav>
			<div class="col md-11 row justify-content-around"> {% block body %}{% endblock %}
				</div>
			</body>
		</body>
	</html>
</div>


<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1">Précédent</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">1</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">2</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">3</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">Suivant</a>
		</li>
	</ul>
	{% block footer %}
		<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<a href="#">Haut de page</a>
				</p>
				<p>
					Underthemovies</p>
			</div>
		</footer>
	{% endblock %}
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</body></html>
