<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Underthemovies
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="{{ path('homepage') }}">Underthemovies</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link mr-sm-3 ml-sm-3" href="{{ path('quotes') }}">Nouvelles citations</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="{{ path('indexfilms') }}">Index des films</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="#">Meilleures citations</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="#">The Game</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-3" href="#">Proposer une citation</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link mr-sm-2" href="#">Connexion</a>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">
							<button class="btn btn-outline-primary" type="submit">Rechercher</button>
						</form>
					</div>
				</nav>


			</header>
		{% endblock %}


		<main role="main">
			<div class="py-5 bg-light">
				<div class="container"> {% block body %}{% endblock %}
					</div>
				</div>
			</main>

			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</body>
	</html>
</nav>
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}</body></html>
